@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* BODY */
body {
	background-color: rgb(230, 230, 230);
}
/* 0 frame */
.search-frame {
	background-color: white;
	width: 540px;
	height: 490px;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgb(170, 170, 170);
	margin: 2rem auto;
	padding: 1rem;
	/* Control Column */
	display: flex;
	flex-direction: column;
}
/* 1.1 title */
.search-title {
	height: 80px;
	border-radius: 8px;
	border: 0;
	padding: 4% 6.2% 3% 6.2%;
	background-image: url("/static/img/background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	font-family: "DM sans", sans-serif;
}
/* 1.1.2 title heading */
.search-heading {
	text-shadow: rgb(157, 162, 177) 1px 1px 10px;
	font-size: 1.25rem;
	font-weight: 700;
	color: white;
	line-height: 1.222;
}
.search-heading small {
	display: block;
	font-size: .75em;
	font-weight: 400;
	margin-top: .25em;
}
/* 1.3 form */
.search-form {
	padding: 4% 2% 6% 2%;
	font-family: "DM sans", sans-serif;
}
/* 1.3.1 form label */
.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.25rem;
}
.input + .input {
	margin-top: 1rem;
}
.input-label {
	color: #587dd3;
	position: absolute;
	top: 0rem;
}
input.input-field {
	padding-left: 0.25rem;
}
.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1rem;
	padding: 0.25rem 0;
}
.input-field:focus {
	outline: 0;
	border-bottom-color: #7691d0;
}
.input-field:valid {
	outline: 0;
	border-bottom-color: #94a9d8;
}
.input-field:disabled {
	background-color: rgb(236, 236, 236);
}
.input-field:disabled + .input-label {
	color: gainsboro;
}
/* 1.3.4 checkbox */
.check { 
	margin-top: 1rem;
}
input.checkbox {
	border: 0;
}
/* 1.3.4 button */
.form-button {
	margin-top: 0.75rem;
	padding-left: auto;
	padding-right: auto;
}
.form-submit, .form-clear {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.form-submit {
	background-color: #fa6400;
}
.form-clear {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.85);
}
.form-submit:hover,
.form-submit:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.form-submit:hover, .form-clear:hover {
  transform: translateY(-1px);
}
.form-submit:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.form-clear:hover,
.form-clear:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.form-clear:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* 2 result */
.result {
	width: 850px;
	margin: 70px auto auto auto;
	padding: 0;
	font-family: "DM sans", sans-serif;
}
/* result table */
table{
	width: 100%;
}
thead, tbody {
	text-align: center;
	font-size: 1rem;
}
.result thead {
	height: 40px;
	font-weight: bold;
	background-color: #fb8332;
	color: black;
}
.result tbody {
	background-color: white;
	color: black;
}
/* result anchor */
.result a {
	text-decoration: none;
  	color: black;
  	outline: 0;
  	cursor: pointer;
}
.result a:hover {
	color:rgb(213, 213, 213)
}
.thBtn {
	cursor: s-resize;
}
/* result images */
.result img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

/* detail */
.detail {
	width: 800px;
	margin: 70px auto auto auto;
}
/* detail inner block (generation) */
.detail-in {
	background-color: white;
	border: 1px solid rgb(213,213,213);
	padding: 3% 6.2% 3% 6.2%;
}
/* detail thematic break */
.detail hr {
	width: 650px;
	margin: 25px auto 25px auto;
	color:rgb(180, 180, 180)
}
/* .detail single, double {
} */
.detail .single {
	text-align: center;
}
.detail .double {
	margin: 10px auto 10px auto;
}
.detail .texts {
	width: 50%;
	height: 80px;
	margin: 10px auto 10px auto;
	display: inline-block;
}
.detail h2 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.detail p {
	line-height: 0.7;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 14px;
	color: black;
	display: table-cell;
}
.detail .images{
	column-count: 3;
    margin: 0 20px 0 20px;
    display: flex;
    min-height: 100px;
}
/* Single image block */
.detail .image{
	width: 210px;
    border: 1px solid rgb(180, 180, 180);
    margin: 0 3px 10px 3px;
    padding: 0 0 20px 0;
    flex: 1;
    position: relative;
}
.detail .image .text{
	text-align: center;
    margin: 2px 39% 2px 39%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
}
.detail .image img{
	width: 100%;
	object-fit: cover;
}

/* */
.open, .close, .unk {
	border-radius: 10px;
	height: 40px;
	width: 100px;
	text-align: center;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 14px;
	vertical-align: middle;
}

.open {
	background-color: green;
}

.close {
	background-color: red;
}

.unk {
	background-color: rgb(182, 182, 182);
}

/* Processing & Error Message*/
.error {
	margin: auto;
	text-align: center;
	background-color: rgb(245,245,245);
	border: 1px solid rgb(213,213,213);
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 17px;
}